
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='st.css') }}">
    <title>Sign Up</title>
    <!-- Your CSS styles -->
</head>
<body>
    <div class="container" style="padding-right:25vh;padding-bottom:70px;">
        <!-- Your HTML content -->
        <img style="height: 90.2vh; width: 80vh; height:80vh;" src="{{ url_for('static', filename='bg1.jpg') }}" alt="lobg">
        <div class="btn-container">
            <h1><span class="blue">Sign Up</span></h1>

            <form  method="post">
                <input type="text" style="padding:10px; border-radius:7px; width:300px;" name="username" placeholder="Username" required><br><br>
                <input type="email" style="padding:10px; border-radius:7px; width:300px;" name="email" placeholder="Email" required><br><br>
                <input type="password" style="padding:10px; border-radius:7px; width:300px;" name="password" placeholder="Password" required><br><br>
                <button style="background-color: #007bff; padding:10px; width:120px; border-radius:8px; color:#fff" type="submit">Sign Up</button>
            </form><br>

            <div class="login-link">
                Already have an account? <a href="/login">Log in here</a>
            </div>
        </div>
    </div>
</body>
</html>